releases/source/Axis2WS1.4/wsdl/SensorService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://mcs.ucsc.com/SensorService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="SensorService" targetNamespace="http://mcs.ucsc.com/SensorService/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://mcs.ucsc.com/SensorService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:element name="area" type="xsd:int" />
			<xsd:element name="parameters" type="tns:dimensions" />
			<xsd:complexType name="dimensions">
				<xsd:sequence>
					<xsd:element name="width" type="xsd:float" />
					<xsd:element name="height" type="xsd:float" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="input" type="xsd:string" />
			<xsd:element name="out" type="xsd:string" />
			<xsd:element name="LoginRequestType">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="username" type="xsd:string" />
						<xsd:element name="password" type="xsd:string" />
						<xsd:element name="imei" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="LoginResponseType" type="xsd:boolean" />
			<xsd:element name="UploadDataReuestType">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="imei" type="xsd:string" />
						<xsd:element name="data" type="xsd:string" />
						<xsd:element name="username" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="UploadDataResponseType" type="xsd:boolean" />
			<xsd:element name="GetJobsRequestType">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="currentLatitude" type="xsd:float" />
						<xsd:element name="currentLongitude" type="xsd:float" />
						<xsd:element name="runningJobs" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetJobsResponseType" type="xsd:string" />
			<xsd:element name="GetReferenceDataRequestType">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="tableName" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="GetReferenceDataResponseType" type="xsd:string" />
			<xsd:element name="ViewJobRequestType">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="imei" type="xsd:string"></xsd:element>
						<xsd:element name="username" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ViewJobResponseType" type="xsd:string"></xsd:element>
			<xsd:element name="AddJobRequestType">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="sensorType" type="xsd:int"></xsd:element>
						<xsd:element name="latitude" type="xsd:float"></xsd:element>
						<xsd:element name="longitude" type="xsd:float"></xsd:element>
						<xsd:element name="locRange" type="xsd:float"></xsd:element>
						<xsd:element name="starttime" type="xsd:long"></xsd:element>
						<xsd:element name="endtime" type="xsd:long"></xsd:element>
						<xsd:element name="frequency" type="xsd:int"></xsd:element>
						<xsd:element name="timePeriod" type="xsd:int"></xsd:element>
						<xsd:element name="Nodes" type="xsd:int"></xsd:element>
						<xsd:element name="username" type="xsd:string"></xsd:element>
						<xsd:element name="imei" type="xsd:string"></xsd:element>
						<xsd:element name="description" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AddJobResponseType" type="xsd:boolean"></xsd:element>
			<xsd:element name="ViewDataRequestType">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="jobId" type="xsd:long"></xsd:element>
						<xsd:element name="username" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ViewDataResponseType" type="xsd:string"></xsd:element>
			<xsd:element name="SubscribeRequestType">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="username" type="xsd:string"></xsd:element>
						<xsd:element name="password" type="xsd:string"></xsd:element>
						<xsd:element name="imei" type="xsd:string"></xsd:element>
						<xsd:element name="email" type="xsd:string"></xsd:element>
						<xsd:element name="fullname" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SubscribeResponseType" type="xsd:boolean"></xsd:element>
			<xsd:element name="EmailDataRequestType">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="jobId" type="xsd:long"></xsd:element>
						<xsd:element name="imei" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
            <xsd:element name="EmailDataResponseType" type="xsd:boolean"></xsd:element>
            <xsd:element name="PasswordRecoverRequestType">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="username" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
            			<xsd:element name="email" type="xsd:string" minOccurs="0" maxOccurs="1"></xsd:element>
            			<xsd:element name="imei" type="xsd:string"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="PasswordRecoverResponseType" type="xsd:boolean"></xsd:element>
            <xsd:element name="EditJobRequestType">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="sensorType" type="xsd:int"></xsd:element>
            			<xsd:element name="latitude" type="xsd:float"></xsd:element>
            			<xsd:element name="longitude" type="xsd:float"></xsd:element>
            			<xsd:element name="locRange" type="xsd:float"></xsd:element>
            			<xsd:element name="starttime" type="xsd:long"></xsd:element>
            			<xsd:element name="endtime" type="xsd:long"></xsd:element>
            			<xsd:element name="frequency" type="xsd:int"></xsd:element>
            			<xsd:element name="timePeriod" type="xsd:int"></xsd:element>
            			<xsd:element name="Nodes" type="xsd:int"></xsd:element>
            			<xsd:element name="username" type="xsd:string"></xsd:element>
            			<xsd:element name="imei" type="xsd:string"></xsd:element>
            			<xsd:element name="description" type="xsd:string"></xsd:element>
            			<xsd:element name="jobId" type="xsd:long"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="EditJobResponseType" type="xsd:boolean"></xsd:element>
            <xsd:element name="EditUserRequestType">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="username" type="xsd:string"></xsd:element>
						<xsd:element name="password" type="xsd:string"></xsd:element>
						<xsd:element name="imei" type="xsd:string"></xsd:element>
						<xsd:element name="email" type="xsd:string"></xsd:element>
						<xsd:element name="fullname" type="xsd:string"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="EditUserResponseType" type="xsd:boolean"></xsd:element>
        </xsd:schema>
	</wsdl:types>
	<wsdl:message name="CalculateRectAreaResponse">
		<wsdl:part element="tns:area" name="area" />
	</wsdl:message>
	<wsdl:message name="CalculateRectAreaRequest">
		<wsdl:part element="tns:parameters" name="parameters" />
	</wsdl:message>
	<wsdl:message name="GetMessageRequest">
		<wsdl:part element="tns:input" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetMessageResponse">
		<wsdl:part element="tns:out" name="msgResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="LoginRequest">
		<wsdl:part name="LoginRequest" element="tns:LoginRequestType"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="LoginResponse">
		<wsdl:part name="LoginResponse" element="tns:LoginResponseType"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="UploadDataRequest">
		<wsdl:part name="UploadDataReuest" element="tns:UploadDataReuestType"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="UploadDataResponse">
		<wsdl:part name="UploadDataResponse" element="tns:UploadDataResponseType"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetJobsRequest">
		<wsdl:part name="GetJobsRequest" element="tns:GetJobsRequestType"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetJobsResponse">
		<wsdl:part name="GetJobsResponse" element="tns:GetJobsResponseType"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetReferenceDataRequest">
		<wsdl:part name="GetReferenceDataRequest" element="tns:GetReferenceDataRequestType"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetReferenceDataResponse">
		<wsdl:part name="GetReferenceDataResponse" element="tns:GetReferenceDataResponseType"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ViewJobRequest">
		<wsdl:part name="ViewJobRequest" element="tns:ViewJobRequestType"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ViewJobResponse">
		<wsdl:part name="ViewJobResponse" element="tns:ViewJobResponseType"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="AddJobRequest">
		<wsdl:part name="AddJobRequest" element="tns:AddJobRequestType"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="AddJobResponse">
		<wsdl:part name="AddJobResponse" element="tns:AddJobResponseType"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ViewDataRequest">
		<wsdl:part name="ViewDataRequest" element="tns:ViewDataRequestType"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ViewDataResponse">
		<wsdl:part name="ViewDataResponse" element="tns:ViewDataResponseType"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="SubscribeRequest">
		<wsdl:part name="SubscribeRequest" element="tns:SubscribeRequestType"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="SubscribeResponse">
		<wsdl:part name="SubscribeResponse" element="tns:SubscribeResponseType"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="EmailDataRequest">
		<wsdl:part name="EmailDataRequest" element="tns:EmailDataRequestType"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="EmailDataResponse">
		<wsdl:part name="EmailDataResponse" element="tns:EmailDataResponseType"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="PasswordRecoverRequest">
		<wsdl:part name="PasswordRecoverRequest" element="tns:PasswordRecoverRequestType"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="PasswordRecoverResponse">
		<wsdl:part name="PasswordRecoverResponse" element="tns:PasswordRecoverResponseType"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="EditJobRequest">
		<wsdl:part name="EditJobRequest" element="tns:EditJobRequestType"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="EditJobResponse">
		<wsdl:part name="EditJobResponse" element="tns:EditJobResponseType"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="EditUserRequest">
		<wsdl:part name="EditUserRequest" element="tns:EditUserRequestType"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="EditUserResponse">
		<wsdl:part name="EditUserResponse" element="tns:EditUserResponseType"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="SensorService">
		<wsdl:operation name="CalculateRectArea">
			<wsdl:input message="tns:CalculateRectAreaRequest" />
			<wsdl:output message="tns:CalculateRectAreaResponse" />
		</wsdl:operation>
		<wsdl:operation name="GetMessage">
			<wsdl:input message="tns:GetMessageRequest"></wsdl:input>
			<wsdl:output message="tns:GetMessageResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Login">
			<wsdl:input message="tns:LoginRequest"></wsdl:input>
			<wsdl:output message="tns:LoginResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UploadData">
			<wsdl:input message="tns:UploadDataRequest"></wsdl:input>
			<wsdl:output message="tns:UploadDataResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetJobs">
			<wsdl:input message="tns:GetJobsRequest"></wsdl:input>
			<wsdl:output message="tns:GetJobsResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetReferenceData">
			<wsdl:input message="tns:GetReferenceDataRequest"></wsdl:input>
			<wsdl:output message="tns:GetReferenceDataResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ViewJob">
			<wsdl:input message="tns:ViewJobRequest"></wsdl:input>
			<wsdl:output message="tns:ViewJobResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="AddJob">
			<wsdl:input message="tns:AddJobRequest"></wsdl:input>
			<wsdl:output message="tns:AddJobResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ViewData">
			<wsdl:input message="tns:ViewDataRequest"></wsdl:input>
			<wsdl:output message="tns:ViewDataResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Subscribe">
			<wsdl:input message="tns:SubscribeRequest"></wsdl:input>
			<wsdl:output message="tns:SubscribeResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="EmailData">
			<wsdl:input message="tns:EmailDataRequest"></wsdl:input>
			<wsdl:output message="tns:EmailDataResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="PasswordRecover">
			<wsdl:input message="tns:PasswordRecoverRequest"></wsdl:input>
			<wsdl:output message="tns:PasswordRecoverResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="EditJob">
			<wsdl:input message="tns:EditJobRequest"></wsdl:input>
			<wsdl:output message="tns:EditJobResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="EditUser">
			<wsdl:input message="tns:EditUserRequest"></wsdl:input>
			<wsdl:output message="tns:EditUserResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SensorServiceSOAP" type="tns:SensorService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="CalculateRectArea">
			<soap:operation soapAction="http://mcs.ucsc.com/SensorService/NewOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetMessage">
			<soap:operation soapAction="http://mcs.ucsc.com/SensorService/GetMessage" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Login">
			<soap:operation soapAction="http://mcs.ucsc.com/SensorService/Login" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="UploadData">
			<soap:operation soapAction="http://mcs.ucsc.com/SensorService/UploadData" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetJobs">
			<soap:operation soapAction="http://mcs.ucsc.com/SensorService/GetJobs" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetReferenceData">
			<soap:operation soapAction="http://mcs.ucsc.com/SensorService/GetReferenceData" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ViewJob">
			<soap:operation soapAction="http://mcs.ucsc.com/SensorService/ViewJob" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="AddJob">
			<soap:operation soapAction="http://mcs.ucsc.com/SensorService/AddJob" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ViewData">
			<soap:operation soapAction="http://mcs.ucsc.com/SensorService/ViewData" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Subscribe">
			<soap:operation soapAction="http://mcs.ucsc.com/SensorService/Subscribe" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="EmailData">
			<soap:operation soapAction="http://mcs.ucsc.com/SensorService/EmailData" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="PasswordRecover">
			<soap:operation soapAction="http://mcs.ucsc.com/SensorService/PasswordRecover" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="EditJob">
			<soap:operation soapAction="http://mcs.ucsc.com/SensorService/EditJob" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="EditUser">
			<soap:operation soapAction="http://mcs.ucsc.com/SensorService/EditUser" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SensorService">
		<wsdl:port binding="tns:SensorServiceSOAP" name="SensorServiceSOAP">
			<soap:address location="http://mcs.ucsc.com" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
